<form method="post" action="{{ path('app_admin_prime_delete', {'id': prime.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ prime.id) }}">
    <button class="btn">Delete</button>
</form>
