{% extends 'base.html.twig' %}

{% block title %}New Prime{% endblock %}

{% block body %}
    <h1>Create new Prime</h1>

    {{ include('admin/prime/_form.html.twig') }}

    <a href="{{ path('app_admin_prime_index') }}">back to list</a>
{% endblock %}
