{% extends 'base.html.twig' %}

{% block title %}New Profession{% endblock %}

{% block body %}
    <h1>Create new Profession</h1>

    {{ include('admin/clientelle/profession/_form.html.twig') }}

    <a href="{{ path('app_admin_clientelle_profession_index') }}">back to list</a>
{% endblock %}
