{% extends 'base.html.twig' %}

{% block title %}New Materiel{% endblock %}

{% block body %}
    <h1>Create new Materiel</h1>

    {{ include('admin/parc_informatique/materiel/_form.html.twig') }}

    <a href="{{ path('app_admin_parc_informatique_materiel_index') }}">back to list</a>
{% endblock %}
