{% extends 'base.html.twig' %}

{% block title %}New Country{% endblock %}

{% block body %}
    <h1>Create new Country</h1>

    {{ include('admin/clientelle/country/_form.html.twig') }}

    <a href="{{ path('app_admin_clientelle_country_index') }}">back to list</a>
{% endblock %}
